<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Trait 1:</strong>
    <%= character.trait_1 %>
  </p>

  <p>
    <strong>Trait 2:</strong>
    <%= character.trait_2 %>
  </p>

  <p>
    <strong>Backstory:</strong>
    <%= character.backstory %>
  </p>

</div>
